<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.rtmhome" />

	<jpa:repositories base-package="com.rtmhome.persistance" />
	
<!-- 	<bean id="retraiteService" class="com.rtmhome.services.RetraiteService"> -->
	    
<!-- 	    <property name="dataSource" ref="dataSource"></property> -->
<!-- 	</bean> -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://elmer.db.elephantsql.com:5432/mlvwgung" />
		<property name="username" value="mlvwgung" />
		<property name="password" value="RZ5t9unl0S9bbTtgzjqAYv_H4g8aLtBq" />
	</bean>

</beans>

